<!-- Add form -->
<div class="container">
	<button class="btn btn-success"><a href="/new_invoice">Add Invoice</a></button>
</div>

<br>

<div class="container">
	<!-- <div class="col-lg-12"> -->
		<h2 class="page-heading">Invoices</h2>
		<div class="jumbotron">

			<!-- class requirement search bar -->
			<div class="row pull-right search-bar-row">
				<form action="/invoices" method="GET">
					<select class="table-search" id="table-filter-category" name="category">
						<option value="">Filter by .. </option>
						{{#each categories}}
						<option value="{{@key}}">{{@key}}</option>
						{{/each}}
					</select>

					<input class="table-search" id="table-filter-keyword" list="invoice-search" type="text" placeholder="search..." name="key" autocomplete="off">
					<datalist id="invoice-search">
						<option value="choose a category">
					</datalist>

					<button id="table-search-submit" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-search table-search-icon"></span> GO!
					</button>
				</form>
			</div>

			<!-- old search bar -->
			<div class="row pull-right input-group hide">
				<span class="glyphicon glyphicon-search table-search-icon">
				</span>
				<input class="table-search" type="text" placeholder="search...">
			</div>

      <!-- table -->
			<table class="table table-hover table-bordered">
				<thead align="Center">
					<tr>
						<th>Invoice ID</th>
						<th>Customer ID</th>
						<th>Customer</th>
						<th>Date</th>
						<th>Paid</th>
						<th>Payment Method</th>
						<th>Total Due</th>
						<th class="col-xs-4" colspan="4">Actions</th>
					</tr>
				</thead>
				<tbody class="table-searchable">
          {{#each rows}}
          <tr>
            <td>{{invoice_id}}</td>
            <td>{{customer_id}}</td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{formatDate invoice_date}}</td>
            <td>
              {{#if invoice_paid}}
                TRUE
              {{else}}
                FALSE
              {{/if}}
            </td>
            <td>
              {{#if name}}
                {{name}}
              {{else}}
                UNPAID
              {{/if}}
            </td>
            <td>{{total_due}}</td>
            <td>
              <div class="row text-center">
                <button type="button" class="btn btn-success btn-sm">PAY</button>
              </div>
            </td>
            <td>
              <div class="row text-center">
                <button type="button" class="btn btn-info btn-sm">VIEW</button>
              </div>
            </td>
            <td>
              <div class="row text-center">
                <button type="button" class="btn btn-warning btn-sm">UPDATE</button>
              </div>
            </td>
          </tr>
          {{/each}}
				</tbody>
			</table>
			<br>
		</div>

		<script>
			// search filter data list
			let datalist = $("#invoice-search");
			let search_box = $("#table-filter-keyword");

			// make pre-populated filter keys based on invoice data
			let keywords = {};

			// search/filter based on class Requirement
			$("#table-filter-category").change(function() {
				let dataset = [];

				switch(this.value) {
					case 'Date':
						{{#each invoice_dates}}
							dataset.push("{{formatDate this}}");
						{{/each}}
						break;
					case 'Invoice ID':
						{{#each invoice_ids}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					case 'Customer ID':
						{{#each customer_ids}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					case 'Customer Name':
						{{#each customer_names}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					case 'Payment Method':
						{{#each payment_methods}}
							dataset.push("{{this}}");
						{{/each}}

						dataset.push("Unpaid");
						break;
					case 'Paid':
						dataset.push("True");
						dataset.push("False");
						break;
					case 'Total Due':
						{{#each invoice_totals}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					default:
						dataset.push("choose a category");
				}

				// empty current filter keyword, dropdown data list and populate with specific category data
				search_box.val("");
				datalist.empty();
				dataset.forEach((item)=>{
					$("<option>", {
						"value": item
					}).appendTo(datalist);
				})
			});
		</script>
	<!-- </div> -->
</div>
