<form>
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="updateModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button id ="close_show1" title="close_details_table" class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Update Customer Invoice</h4>
          </div>
          <div class="modal-body">
            <div class="container">
              <u>Invoice ID:</u>
              <div class="row">
                <div class="col-lg-1">
                  <input id="fixed_invoice_id" disabled name="fname" type="text" value=""><br>
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-1">
                  Phone<select id="phone_option">
                      <option value="none">
                        --
                      </option>
                      {{#if phones}}
                      {{#each phones}}
                      <option value="{{this.phone_id}}">
                          {{this.make}} {{this.model}}
                        </option>
                      {{/each}}
                      {{/if}}
                    </select>
                </div>
                <div class="col-lg-1 col-lg-offset-1">
                  Carrier<select id="carrier_option">
                      <option value="none">
                        --
                      </option>
                      {{#if carriers}}
                      {{#each carriers}}
                      <option value={{this.carrier_id}}>
                          {{this.name}}
                        </option>
                      {{/each}}
                      {{/if}}
                    </select>
                </div><br>
                <div class="col-lg-1 col-lg-offset-1">
                  <button id="add_invoice_detail" class="btn btn-success btn-sm" type="button">ADD TO INVOICE</button>
                </div>
              </div><br>
              <div class="container">
                <!-- <table class="table table-hover table-bordered" style="width: 44%;"> -->
                <table style="width: 44%;">
                  <thead align="center">
                    <tr>
                      <th >Invoice Detail ID</th>
                      <th>Phone</th>
                      <th>Carrier</th>
                      <th>Retail($)</th>
                      <th class="col-xs-2">Delete</th>
                    </tr>
                  </thead>
                  <tbody id = "invoice_detail_table">
                  {{#if invoices_views}}
                  {{#each invoices_views}}
                    <tr value = {{this.invoice_id}}>
                      <td value = {{this.invoice_detail_id}}>{{this.invoice_detail_id}}</td>
                      <td value = {{this.invoice_detail_id}}>{{this.phone_name}}</td>
                      <td value = {{this.invoice_detail_id}}>{{this.carrier_name}}</td>
                      <td value = {{this.invoice_detail_id}}>{{this.retail_cost}}</td>
                      <td value = {{this.invoice_detail_id}}>
                        <div class="row text-center">
                          <button class="btn btn-danger btn-sm" title="remove_phone" type="button" data-value="{{this.phone_id}}" value={{this.invoice_detail_id}}>DELETE</button>
                        </div>
                      </td>
                    </tr>
                  {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button id="close_show2" title="close_details_table" class="btn btn-default btn-sm" data-dismiss="modal" type="button">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form><br>
<div class="container">
  <!-- <div class="col-lg-12"> -->
  <button class="btn btn-danger"><a href="/invoices">Back to Invoices</a></button>
  <h2 class="page-heading">Invoice Details</h2>
  <div class="jumbotron">
    <!-- search bar -->
    <div class="row pull-right input-group hide">
      <span class="glyphicon glyphicon-search table-search-icon">
      </span>
      <input class="table-search" type="text" placeholder="search...">
    </div>

    <table class="table table-hover table-bordered">
      <thead align="center">
        <tr>
          <th>Invoice ID</th>
          <th>Customer ID</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Paid</th>
          <th>Total($)</th>
          <th class="col-xs-1">Add/Delete Phone</th>
        </tr>
      </thead>
      <tbody class="table-searchable">
        {{#if invoices}}
        {{#each invoices}}
          <tr>
              <td>{{this.invoice_id}}</td>
              <td>{{this.customer_id}}</td>
              <td>{{this.first_name}} {{this.last_name}}</td>
              <td>{{formatDate this.invoice_date}}</td>
              {{#if invoice_paid}}
                <td>TRUE</td>
              {{else}}
                <td>FALSE</td>
              {{/if}}
              <td>{{this.total_due}}</td>
              <td>
              <div class="row text-center">
                <button id ="invoice_update" type="button" class="btn btn-primary btn-sm" title="details_table" data-toggle="modal" data-target="#updateModal" value={{this.invoice_id}}>Add/Delete</button>
                </div>
              </td>
          </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table><br>
  </div><!-- </div> -->
</div>
<script type="text/javascript">
  $(document).ready(function($) {
    if(localStorage.getItem("ref_id") != null && localStorage.getItem("ref_id") > -1){
    document.getElementById("fixed_invoice_id").value = localStorage.getItem("ref_id");
    var rows = $("#invoice_detail_table").find("tr").hide();
    rows.filter("tr[value='"+localStorage.getItem("ref_id")+"']").show();
    $('#updateModal').modal('show');
    }
  });
</script>
