<!-- Add form -->
<div class="container">
	<button class="btn btn-success"><a href="/new_invoice">Add Invoice</a></button>
</div>

<br>

<form action="/update_invoice" method="POST">
  <!-- Modal -->
  <div class="modal fade" id="updateModal" role="dialog">
     <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update Invoice</h4>
           </div>
           <div class="modal-body">
              <div class="container">
                 <div class="container">
									 	<u>Invoice ID:</u>
										<div class="row">
											<div class="col-lg-1">
												<input type="text" name="invoice_id_holder" value="" required readonly="readonly">
											</div>
										</div>
										<br>
										<u>Date</u>
										<div class="row">
											<div class="col-lg-1">
												<input type="date" name="date_input" required>
											</div>
										</div>
										<br>
										<u>Customer</u>
										<div class="row">
											<div class="col-lg-1">
												<select name="customer_input">
													{{#each customers}}
														<option value="{{@key}}">{{this}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<br>
										<u>Payment Method</u>
										<div class="row">
											<div class="col-lg-1">
												<select name="payment_method_input">
													{{#each payment_methods}}
													<option value="{{@key}}">{{this}}</option>
													{{/each}}
													<option value="">None</option>
												</select>
											</div>
										</div>
										<br>
                 </div>
              </div>
              <div class="modal-footer">
                 <button type="submit" class="btn btn-primary btn-sm">SUBMIT</button>
                 <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">CLOSE</button>
              </div>
           </div>
        </div>
     </div>
  </div>
</form>

<div class="container">
	<!-- <div class="col-lg-12"> -->
		<h2 class="page-heading">Invoices</h2>
		<div class="jumbotron">

			<!-- class requirement search bar -->
			<div class="row pull-right search-bar-row">
				<form action="/invoices" method="GET">
					<select class="table-search" id="table-filter-category" name="category">
						<option value="">Filter by .. </option>
						{{#each categories}}
						<option value="{{@key}}">{{@key}}</option>
						{{/each}}
					</select>

					<input class="table-search" id="table-filter-keyword" list="invoice-search" type="text" placeholder="search..." name="key" autocomplete="off">
					<datalist id="invoice-search">
						<option value="choose a category">
					</datalist>

					<button id="table-search-submit" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-search table-search-icon"></span> GO!
					</button>
				</form>
			</div>

			<!-- old search bar -->
			<div class="row pull-right input-group hide">
				<span class="glyphicon glyphicon-search table-search-icon">
				</span>
				<input class="table-search" type="text" placeholder="search...">
			</div>

      <!-- table -->
			<table class="table table-hover table-bordered">
				<thead align="Center">
					<tr>
						<th>Invoice ID</th>
						<th>Customer ID</th>
						<th>Customer</th>
						<th>Date</th>
						<th>Paid</th>
						<th>Payment Method</th>
						<th>Total Due</th>
						<th class="col-xs-4" colspan="4">Actions</th>
					</tr>
				</thead>
				<tbody class="table-searchable">
          {{#each rows}}
          <tr>
            <td class="invoice_id">{{invoice_id}}</td>
            <td class="invoice_customer_id">{{customer_id}}</td>
            <td class="invoice_customer_name">{{first_name}} {{last_name}}</td>
            <td class="invoice_date" data-date-value="{{formatDateUniversal invoice_date}}">{{formatDate invoice_date}}</td>
            <td class="invoice_paid">
              {{#if invoice_paid}}
                TRUE
              {{else}}
                FALSE
              {{/if}}
            </td>
            <td class="invoice_payment_method" data-payment-method-id="{{payment_method_id}}">
              {{#if name}}
                {{name}}
              {{else}}
                UNPAID
              {{/if}}
            </td>
            <td class="invoice_total_due">{{total_due}}</td>
            <td>
              <div class="row text-center">
                <button type="button" class="pay-invoice-button btn btn-success btn-sm" data-value="{{invoice_id}}" {{#if invoice_paid}}disabled{{/if}}>PAY</button>
              </div>
            </td>
            <td>
              <div class="row text-center">
                <a href="/view_invoice/{{invoice_id}}">
									<button type="button" class="view-invoice-button btn btn-info btn-sm">VIEW</button>
								</a>
              </div>
            </td>
            <td>
              <div class="row text-center">
                <button type="button"
								class="update-invoice-button btn btn-warning btn-sm"
								data-toggle="modal"
								data-target="#updateModal"
								data-value="{{invoice_id}}"
								{{#if invoice_paid}}disabled{{/if}}>UPDATE</button>
              </div>
            </td>
						<td>
							<div class="row text-center">
								<button type="button" class="btn btn-danger btn-sm" {{#if invoice_paid}}disabled{{/if}}>Add Phone</button>
							</div>
						</td>
          </tr>
          {{/each}}
				</tbody>
			</table>
			<br>
		</div>

		<script>
			// search filter data list
			let datalist = $("#invoice-search");
			let search_box = $("#table-filter-keyword");

			// make pre-populated filter keys based on invoice data
			let keywords = {};

			// search/filter based on class Requirement
			$("#table-filter-category").change(function() {
				let dataset = [];

				switch(this.value) {
					case 'Date':
						{{#each invoice_dates}}
							dataset.push("{{formatDate this}}");
						{{/each}}
						break;
					case 'Invoice ID':
						{{#each invoice_ids}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					case 'Customer ID':
						{{#each customers}}
							dataset.push("{{@key}}");
						{{/each}}
						break;
					case 'Customer Name':
						{{#each customers}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					case 'Payment Method':
						{{#each payment_methods}}
							dataset.push("{{this}}");
						{{/each}}

						dataset.push("Unpaid");
						break;
					case 'Paid':
						dataset.push("True");
						dataset.push("False");
						break;
					case 'Total Due':
						{{#each invoice_totals}}
							dataset.push("{{this}}");
						{{/each}}
						break;
					default:
						dataset.push("choose a category");
				}

				// empty current filter keyword, dropdown data list and populate with specific category data
				search_box.val("");
				datalist.empty();
				dataset.forEach((item)=>{
					$("<option>", {
						"value": item
					}).appendTo(datalist);
				})
			});
		</script>
	<!-- </div> -->
</div>
