<div class="container">
  <h2 class="page-heading">Create New Invoice</h2>
</div>

<div class="jumbotron">
  <form id="new_invoice_form">
    <div class="container">

      <p>Note: All phones require a carrier. Phones without carriers will not be added to the invoice.</p>

      <u>DATE</u>
      <div class="row">
        <div class="col-lg-1">
          <input type="date" name="date" required><br>
        </div>
      </div>
      <br>

      <u>CUSTOMER</u>
      <div class="row">
        <div class="col-lg-1">
          <select name="customer_id" required>
            <option value=""> -- </option>
            {{#each customers}}
            <option value="{{id}}">{{id}} -- {{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <br>

      <u>PAYMENT METHOD</u>
      <div class="row">
        <div class="col-lg-1">
          <select name="payment_method_id">
            <option value=""> -- </option>
            {{#each paymentmethods}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <br>

      <div class="row phone_form">
        <div class="col-lg-2">
          <label>
          Invoice Item 1
            <select class="invoice_phones" name="phone_item_1">
              <option value=""> -- </option>
              {{#each phones}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </label>
        </div>

        <div class="col-lg-2 col-lg-offset-2">
          <label>
          Carrier
            <br>
            <select class="invoice_carriers" name="carrier_item_1">
              <option value=""> -- </option>
              {{#each carriers}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </label>
        </div>
      </div>

      <br>
      <br>
      <div class="row">
        <div class="col-lg-1">
          <button type="button" class="btn btn-primary add_phone_form_to_invoice">Add Phone</button>
        </div>
      </div>


      <br>
      <br>
      <div class="row">
        <u>SUBTOTAL</u>
      </div>
      <div class="row">
        <u>TAXES</u>
      </div>
      <div class="row">
          <u>TOTAL</u>
      </div>

      <br>
      <div class="row text-right">
        <button id="save_invoice_button" type="button" class="btn btn-danger btn-lg">SAVE INVOICE</button>
        <button id="pay_invoice_button" type="button" class="btn btn-success btn-lg">PAY NOW</button>
      </div>
    </div>
  </form>
</div>

<script>
  window.a51 = {};
  a51["phones"] = [];
  a51["carriers"] = [];
  a51["customers"] = [];
  a51["paymentmethods"] = [];

  let phone_detail = {};
  {{#each phones}}
    phone_detail = {};
    phone_detail.id = {{this.id}};
    phone_detail.name = "{{this.name}}";
    phone_detail.price = {{this.price}};
    a51.phones.push(phone_detail);
  {{/each}}

  let carrier_detail = {};
  {{#each carriers}}
    carrier_detail = {};
    carrier_detail.id = {{this.id}};
    carrier_detail.name = "{{this.name}}";
    a51.carriers.push(carrier_detail);
  {{/each}}

  let customer_detail = {};
  {{#each customers}}
    customer_detail = {};
    customer_detail.id = {{this.id}};
    customer_detail.name = "{{this.name}}";
    a51.customers.push(customer_detail);
  {{/each}}

  let paymentmethod_detail = {}
  {{#each paymentmethods}}
    paymentmethod_detail = {};
    paymentmethod_detail.id = {{this.id}};
    paymentmethod_detail.name = "{{this.name}}";
    a51.paymentmethods.push(paymentmethod_detail);
  {{/each}}

</script>
